* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: sans-serif;
}

.mc-barra-search{
     position: relative;
}

.mc-black-fluid{
     min-width: 100vw;
     min-height: 100vh;
     background-color: #0d0d0d;
     overflow-x: hidden;
}

.mc-black {
     background-color: #0d0d0d;
     width: 100%;
     height: 50px;
     display: flex;
     flex-direction: row;
     padding-top: 25px;
}

.mc-nav {
     padding-left: 20px;
     padding-bottom: 0.1em;
}

.mc-nav a {
     color:white;
     text-decoration: none;
     padding-right: 15px;
     font-size: 0.7em;

}

.mc-logodiv {
     height: 100%;
     width: 70%;
     display: flex;
     justify-content: flex-start;
     align-items: center;
     padding-left: 35px;
}


.mc-barra-di-ricerca{
     height: 100%;
     width: 30%;
     display: flex;
     justify-content: center;
     align-items: center;
     position: relative;
}

.mc-barra-di-ricerca .fa-search {
     cursor: pointer;
     color: white;
     padding-right: 15px;
     font-size: 13px;
     left: 10px;
     top: 10px;
     transition:all 1s linear;
}

.mc-block{
     display: block;
}

.mc-absolute{
          position: absolute;
}

.mc-logodiv img{
     width: 100%;
     width: 6rem;

}

.mc-sfondo{
     width: 100%;
     margin-top: 20px;
}

.mc-title{
     display: flex;
     align-items: center;
     justify-content: center;
     color: white;
}

.mc-films-cont {
     width: 100%;
     margin-top: 50px;
     display: flex;
     align-items: center;
     overflow-y: hidden;
     color: white;

}

.mc-films-item {
     background-color: grey;
     min-width: 300px;
     height: 400px;
     display: flex;
     justify-content: center;
     align-items: center;
     margin-left: 50px;
     border-radius: 5px;
}

.mc-info {
     display: flex;
     flex-flow: column;
}

.mc-info img {
     width: 30px;
     padding-left: 10px;
}

.mc-info p {
     color: white;
}

.star-active{
     color: yellow;
}


.mc-info p:last-child:after{
     content: '';
}

textarea:focus, input:focus{
    outline: none;
    border:1px solid white;;}


.cerca-un-film {
     position: relative;
     height: 35px;
     width:300px;
     -webkit-writing-mode: horizontal-tb !important;
    text-rendering: auto;
    color: white;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    -webkit-appearance: textfield;
    background-color: black;
    -webkit-rtl-ordering: logical;
    cursor: text;
    margin: 0em;
    font: 400 13px system-ui;
    padding: 5px;
    padding-left: 30px;
   border : 1px solid white;
   display: none;

}




.mc-img-film{
     position: relative;
}

.mc-img-films img {
     width: 100px;

}

.mc-img-films{
     transition: all 0.5s;
     padding-right: 50px;
}

.mc-img-film:hover{
     transform: scale(1.05);
}


.mc-title h1{

     font-size: 4rem;
}








.mc-dx-header{
     display: flex;
     justify-content: center;
     align-items: center;
}
